VITE_MURI_ADDRESS=0x42d7C2B7dF3EFfb6B2c9a22F9791b09F72C66d45
VITE_MURI_EXTENSION_ADDRESS=0x204D622BF64d36ED637e3491c2BeAD2Be08C040b
VITE_MANIFOLD_CLIENT_ID=
VITE_MANIFOLD_APP_NAME=
VITE_WALLETCONNECT_PROJECT_ID=